-gallery_images = ["Appetizer.jpg","Beers.jpg","BreakFast.jpg","CrispyBurger.jpg","FoodAndBeer.jpg","Hamburger.jpg","HotCakes.jpg","Salads.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La mejor comida en Restaurante Hard
		%meta{name:"description", content:"come tico en el mejor restaurante de la ciudad, servicio de primera"}
		%link{href:"https://fonts.googleapis.com/css?family=Dancing+Script",rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
		%script{src:"js/vendor/modernizr-3.5.0.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado.
			Por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
				para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/videos/images/bbq.jpg"}
				%source{src:"/videos/mp4/bbq.mp4",typ:"video/mp4"}
				%source{src:"/videos/webm/bbq.webm",typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up#home
			.col-xs-12
				.box.white-text
					%img{src:"/imgs/logo.png", width:200}
					%h1.dancing-script.title.no-margin Restaurante Facilito
					%p#is-open 
						%i.glyphicon.glyphicon-time
						Abierto ahora
				%nav.fixed.right.top.navigation.white-text#navigation
					-menu = ["Inicio", "Menú", "Galería", "Contacto", "Cómo Llegar"]
					%ul.list-inline
						-menu.each do |item|
							%li
								%a{}= item
			.absolute.black.large-padding.full-width.white-text#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Atención cálida y comida preparada por artistas
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation
								%ul.list-inline
									-menu.each do |item|
										%li
											%a{}= item

		.text-center.relative#menu
			.absolute.white#menu-title
				.h2.dancing-script.title Menú
			-menu_photos = [{name:"Break Fast",image:"BreakFast",pricing:"10.00"},{name:"Food and Beer",image:"FoodAndBeer",pricing:"30.00"},{name:"Full Appetizer",image:"Appetizer",pricing:"20.00"},{name:"Crispy Burger",image:"CrispyBurger",pricing: "15.00"},{name:"Salads", image:"Salads", pricing: "10.00"},{name:"HotCakes",image:"HotCakes",pricing:"10.00"},{name:"Hamburger",image:"Hamburger",pricing:"15.00"},{name:"Beers",image:"Beers",pricing:"10.00"}]
			
			.row
				-menu_photos.each do |photo|
					.col-md-4.col-lg-3.col-sm-6-.col-xs-12.food{style:"background-image:url(/imgs/food/#{photo[:image]}-thumb.jpg)"}
						.screem
							.row.middle-xs.full-height
								.col-xs-12
									%h3.dancing-script.white-text.subtitle= photo[:name]
		#galeria
			.inner
				-gallery_images.each do |image|
					.image{style:"background-image:url(/imgs/food/#{image});"}
		.container
			.card.white.black-text.text-center.relative
				%h3.slim
					En
					%strong.dancing-script.medium RestauranteFacilito
					cocinar no es una profesión, no es una técnica, es un
					%strong.dancing-script.medium arte
				%p.top-space
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id maximus ipsum. Fusce molestie dolor vel felis laoreet faucibus. Fusce feugiat, ex ut facilisis tincidunt, lacus lectus imperdiet arcu, eget scelerisque arcu nisi nec mi. Aliquam bibendum scelerisque lectus, vel suscipit erat elementum lacinia. Vestibulum non erat vel ex gravida commodo. Aenean et tincidunt ipsum. Ut non molestie magna, vitae cursus nulla. Fusce quis pretium lorem.
					%strong.dancing-script.medium Ezequiel - Chef

		.black.white-text.full-height#contact
			.row.middle-xs.full-height
				.col-xs-12
					.box
						%p.text-center.medium#info-contacto Presiona enter para llenar el campo correspondiente y enviarnos un correo.
						
						%form.black-text{action:"https://formspree.io/marianodellaporta@gmail.com",method:"POST",id:"contact-form",class:"step-form"}
							.row.center-xs
								.col-xs-2.col-md-1
									.box.text-center
										-3.times do |i|
											-if i == 0
												.path-step.active
											-else	
												.path-step
											%br
								.col-xs-5
									.box
										%fieldset.step.active
											%input{type:"email",name:"email",placeholder:"Tu correo electrónico",class:"input",required:"True"}
										%fieldset.step
											%input{type:"text",name:"name",placeholder:"Tu nombre",class:"input",required:"True"}
										%fieldset.step
											%input{name:"body",placeholder:"Tu mensaje",class:"input",required:"True"}

		#location
			#map
			#message.black.large-padding.white-text.text-center.medium


		%script{src:"https://code.jquery.com/jquery-3.2.1.min.js",integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin:"anonymous"}
		:javascript
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.2.1.min.js'><\/script>")
		%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyC6PY9iDkH3OlQtQ-Dcj-DlnO41lIctUFU"}
		%script{src:"/dist/maps.js"}
		%script{src:"/dist/form_object.js"}
		%script{src:"/dist/main.js"}
		%script{src:"/dist/step.js"}

